<ion-view view-title="微信">
    <ion-content on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <ion-list class="rj-list">
            <ion-item class="rj-item">
                <div class="rj-contacts-pic rj-orange-bgc">
                    <i class="ion-person-add"></i>
                </div>
                <h2>新的朋友</h2>
            </ion-item>
            <ion-item class="rj-item">
                <div class="rj-contacts-pic rj-green-bgc">
                    <i class="ion-person-stalker"></i>
                </div>
                <h2>群聊</h2>
            </ion-item>
            <ion-item class="rj-item">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-ios-pricetag"></i>
                </div>
                <h2>标签</h2>
            </ion-item>
            <ion-item class="rj-item">
                <div class="rj-contacts-pic rj-blue-bgc">
                    <i class="ion-person-add"></i>
                </div>
                <h2>公众号</h2>
            </ion-item>
        </ion-list>
        <ion-list class="ctPage">
            <div ng-repeat="user in users | orderBy:['name.first']:false">
                <h4 ng-bind="user.name.first | limitTo : 1 | uppercase" ng-show="user.isShow"></h4>
                <ion-item class="item-avatar">
                    <img ng-src="{{user.picture.thumbnail}}">
                    <h2 ng-bind="user.name.first"></h2>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>