<ion-view>
    <ion-nav-bar align-title="left" class="bar-positive">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-search"></button>
            <button class="button button-icon icon ion-android-add"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-tabs class="tabs-positive">

        <ion-tab title="微信" href="#/tab/home">
            <ion-nav-view animation="slide-left-right" name="home-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="通讯录" href="#/tab/contact">
            <ion-nav-view animation="slide-left-right" name="contact-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="发现" href="#/tab/found">
            <ion-nav-view animation="slide-left-right" name="found-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>